<!-- <div *ngFor="let u of user | pipeUser:20" >
  <span>
    {{u.name | upperCase}} {{u.eta}}
  </span>
</div>
<div>
  {{"2023-03-22" | moments:"ll"}}
</div>
<div>
  {{date | moments:"DD/MM/YYYY"}}
</div>
<div>
  {{date| moments:"HH:mm"}}
</div> -->

<!-- <div *ngFor="let f of films | genreFilter:'rossi'">
  <span>
    {{f.titolo}}
    {{f.genere}}
  </span>
</div> -->

<div class="bg-info text-black text-center">
  <h1>Welcome to the Cinema</h1>
  <select [(ngModel)]=selectedGenere>
    <option  value="All" selected>All</option>
    <option *ngFor="let f of films" [value]="f.genere">{{f.genere}}</option>
  </select>
</div>



<div class="container">
  <div class="row">
    <div class="col-6 mt-3" *ngFor="let f of films | genreFilter:selectedGenere">
      <div class="card" style="width: 100%;"> <img class="card-img-top" src='{{f.img}}'>
        <h4>Titolo : {{f.titolo}}</h4>
        <h5>Genere : {{f.genere}}</h5>
        <h6>Data di Uscita : {{f.data_di_uscita}}</h6>
      </div>
    </div>
  </div>
</div>

<div [appQuadrato]="'30px'" class="quadrato"></div>

